.custom-navbar {
    background-color: #18708c; /* Color de fondo original */
    padding: 10px 0; /* Ajuste de padding para un aspecto más uniforme */
    color: #ffffff; /* Color del texto */
}

.navbar-brand img {
    height: auto;
    max-width: 200px; /* Tamaño del logo ajustado */
}
.navbar-nav{
    margin-right: 20px;
}

.nav-link {
    color: #ffffff; /* Color de texto para los enlaces */
    font-size: 16px; /* Tamaño de fuente más grande para mejor visibilidad */
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar .form-control {
    border-color: #ffffff;
    background-color: transparent;
    color: #ffffff;
}

.search-bar{
    border-color: #ffffff;
    color: #ffffff;
}

.search-bar .form-control:focus {
    color: #ffffff;
    background-color: #18708c;
    border-color: #ffffff;
}

.btn-custom-logout, .btn-custom-login {
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffffff; /* Borde blanco para los botones */
    margin-left: 10px; /* Espaciado entre botones */
}

.btn-custom-logout:hover, .btn-custom-login:hover {
    background-color: #ffffff; /* Cambio de fondo al hacer hover */
    color: #18708c; /* Cambio de color de texto al hacer hover */
}

.navbar-collapse{
    margin-right: 20px;
}

@media (max-width: 991px) {
    .navbar-nav {
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }
    .search-bar, .btn-custom-logout, .btn-custom-login {
        width: 100%;
        margin-bottom: 10px;
        justify-content: center;
    }
}



